@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 78% 92.5%;
    --foreground: 200 25% 10%;
    --card: 188 70% 98%;
    --card-foreground: 200 25% 10%;
    --popover: 188 70% 98%;
    --popover-foreground: 200 25% 10%;
    --primary: 199 91% 64%;
    --primary-foreground: 200 100% 10%;
    --secondary: 199 50% 80%;
    --secondary-foreground: 200 25% 10%;
    --muted: 199 50% 90%;
    --muted-foreground: 200 20% 40%;
    --accent: 256 44% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 50% 85%;
    --input: 199 50% 90%;
    --ring: 199 91% 64%;
    --radius: 0.5rem;
    --chart-1: 199 91% 64%;
    --chart-2: 256 44% 75%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 200 25% 10%;
    --foreground: 188 78% 92.5%;
    --card: 200 25% 12%;
    --card-foreground: 188 78% 92.5%;
    --popover: 200 25% 12%;
    --popover-foreground: 188 78% 92.5%;
    --primary: 199 91% 64%;
    --primary-foreground: 200 100% 10%;
    --secondary: 199 50% 20%;
    --secondary-foreground: 188 78% 92.5%;
    --muted: 199 50% 15%;
    --muted-foreground: 200 20% 70%;
    --accent: 256 44% 75%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 199 50% 25%;
    --input: 199 50% 20%;
    --ring: 199 91% 64%;
    --chart-1: 199 91% 64%;
    --chart-2: 256 44% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
